:root {
    --hero-background-color: #051923;
    --title-color: #00A6FB;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    color: var(--title-color);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--title-color);
    text-decoration: none;
}

.project a {
    color: var(--title-color)
}

main {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    display: grid;
    justify-content: center;
}

#about {
    grid-column: span 6;
}

#projects {
    max-width: 960px;
}

.hero {
    background-color: var(--hero-background-color);
    display: grid;
    justify-content: center;
    padding: 20px;
}

.hero h2 {
    color: white;
}

h1 {
    color: var(--title-color);
}

p {
    color: #545B64;
}

.container {
    max-width: 960px;
}