* {
    margin: 0;
}

header {
    display: flex;
    align-content: center;
    padding: 2rem;
    align-items: center;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #000
}

main {
    display: grid;
    padding: 2rem;
    gap: 2rem;
}